<div id="map-wrapper">
  <div id= 'map'>
    <script>
      $(function() {
        makeMap("<%= map_geojson_path(map) %>");
      });
    </script>
  </div>
<!--  <pre id='coordinates' class='ui-coordinates'></pre>-->
</div>