<div class="col-md-8" style="padding:0">
  <div id="map-wrapper">
    <div class="custom-popup" id= 'map'>
      <script>
        $(function() {
          map = new MakeMap("<%= url %>","<%= action %>");
        });
      </script>
    </div>
  </div>
</div>