<h1>Map Name: <%= @map.name %></h1>

<%= link_to "See All My Maps", user_path(@map.user) %>

<div id="map-wrapper">
  <div class='custom-popup' id= 'map'>
    <script>
      $(function() {
        map = new MakeMap("<%= map_geojson_path(@map) %>","map#show");
      });
    </script>
  </div>
</div>