Mainbar starts -->
<div class="mainbar">     
  <!-- Mainbar head starts -->
  <div class="main-head">
    <% if @user == current_user %>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
          <h2><i class="fa fa-desktop lblue"></i> Your Profile </h2>
        </div>
        
        <div class="col-md-3 hidden-sm hidden-xs pull-right">
          <!-- Head user -->
          <div class="head-user dropdown pull-right">
            <a href="#" data-toggle="dropdown" id="profile">
            <!-- ADD IF/ELSE -->
              Icon 
              <i class="fa fa-user"></i> 
              <%=image_tag @user.avatar.url, :class => "img-responsive img-circle"%>
              <!-- User name -->
              <%= user.name %>
              <i class="fa fa-caret-down"></i> 
            </a>
            <!-- Dropdown -->
            <ul class="dropdown-menu" aria-labelledby="profile">
                <li><a href="#">View/Edit Profile <span class="badge badge-info pull-right">6</span></a></li>
              <li><a href="#">Change Settings</a></li>
              <li><a href="#">Messages <span class="badge badge-danger pull-right">5</span></a></li>
              <li><a href="#">Sign Out</a></li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>  
    </div>
    <% else %>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
          <h2><i class="fa fa-desktop lblue"></i> <%= @user.name %>'s Profile </h2>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<!-- Mainbar head ends