<!-- Mainbar starts -->
<div class="mainbar">     
  <!-- Mainbar head starts -->
  <div class="main-head">
    <% if user == current_user %>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
          <h4><i class="fa fa-user lblue"></i> Your Profile</h4>
        </div>
      </div>
    </div>
    <% else %>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
          <h4><i class="fa fa-user lblue"></i> <%= user.name.capitalize %>'s Profile</h4>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<!-- Mainbar head ends -->