<!-- Mainbar head starts -->
<div class="main-head">
  <div class="container">
    <div class="row">
      <div class="col-md-3 hidden-sm hidden-xs pull-right">
        <div class="pull-right">
          <% if user == current_user %>
            <h4><i class="fa fa-user lblue"></i> Your Profile</h4>
          <% else %>
            <%=image_tag user.avatar.url(:thumb), :class => "img-responsive img-circle"%>
            <i class="fa fa-user lblue"></i> <%= user.name.capitalize %>'s Profile
          <% end %>
        </div>  
      </div>
    </div>
  </div>
</div>
<!-- Mainbar head ends -->