<!-- Mainbar head starts -->
<div class="main-head">
  <div class="container">
    <div class="row">
      <div class="col-md-3 hidden-sm hidden-xs pull-right">
        <div class="pull-right">
          <% if user == current_user %>
            <h4>Your Profile <i class="fa fa-user lblue"></i></h4>
          <% else %>
            <h4><%= user.name.capitalize %>'s Profile <%=image_tag user.avatar.url(:thumb), :class => "img-responsive img-circle"%></h4>
          <% end %>
        </div>  
      </div>
    </div>
  </div>
</div>
<!-- Mainbar head ends -->