<%= render layout: "layouts/mainbar" do %>
  <div class="col-md-4 col-sm-4 col-xs-6"></div>
  <div class="col-md-4 col-sm-4 col-xs-6"></div>
  <div class="col-md-4 col-sm-4 col-xs-6">
    <div class="pull-right">
      <h4 class="user-profile-text">Your Profile <i class="fa fa-user lblue"></i></h4>
      <%= link_to edit_user_registration_path, class: "user-edit-link" do %>
        <i class="fa fa-cog"></i>
      <% end %>
    </div>
  </div>
<% end %>

<%= render partial: "bigmap", locals: {user: current_user} %>
<%= render partial: "minimap", locals: {user: current_user} %>