<%= render partial: "bigmap", locals: {user: @user} %>
<%= render partial: "minimap", locals: {user: @user} %>

<h3>Following:</h3>
<ul>
<% @user.friends.each do |friend| %>
  <li><%= link_to friend.name, user_path(friend) %></li>
<% end %>
</ul>


<h3>Followers:</h3>
<ul>
<% @user.followers.each do |friend| %>
  <li><%= link_to friend.name, user_path(friend) %></li>
<% end %>
</ul>