<!-- Mainbar head starts -->
<div class="main-head">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-6">
        <h4><i class="fa fa-street-view lblue"></i> Welcome to Moments!</h4>
      </div>
    </div>
  </div>
</div>
<!-- Mainbar head ends -->