<!-- Sidebar starts -->
<div class="sidebar">

  <div class="sidey">

    <!-- Logo -->
    <div class="logo">
      <h1><a href="/"><i class="fa fa-map-pin br-red"></i> Ayer <span>Map Nostalgia</span></a></h1>
    </div>
    
    <!-- Sidebar navigation starts -->
    
    <!-- Responsive dropdown -->
    <div class="sidebar-dropdown"><a href="#" class="br-red"><i class="fa fa-bars"></i></a></div>
    
    <div class="side-nav">
    
      <div class="side-nav-block">
        <!-- Sidebar heading -->
        <h4>Menu</h4>
        <!-- Sidebar links -->
        <ul class="list-unstyled">
          <li><a href="<%= root_path %>"><i class="fa fa-home"></i> Home </a></li>
          <!-- Mainmenu with submenu -->
          <li class="has_submenu">
            <a href="#"><i class="fa fa-map-o"></i> Maps <span class="badge badge-danger pull-right"><span id="submenu" class="nav-caret fa fa-caret-down"></span></a>
            <!-- Submenu -->
            <ul class="list-unstyled">
                <li class="mapListItem" ><i class="fa fa-angle-double-right"></i>  </li>
            </ul>
          </li>
          <!-- Mainmenu with submenu -->
          <li class="has_submenu">
            <a href="#"><i class="fa fa-heart"></i> Following <span class="badge badge-danger pull-right"><span id="submenu" class="nav-caret fa fa-caret-down"></span></a>
            <!-- Submenu -->
            <ul class="list-unstyled">
            <li><i class="fa fa-angle-double-right"></i>
            </ul>
          </li>
          <!-- Mainmenu with submenu -->
          <li class="has_submenu">
            <a href="#"><i class="fa fa-users"></i> Followers <span class="badge badge-danger pull-right"></span><span id="submenu" class="nav-caret fa fa-caret-down"></span></a>
            <!-- Submenu -->
            <ul class="list-unstyled">
                <li><i class="fa fa-angle-double-right"></i>
                </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- Sidebar navigation ends -->
  </div>
</div>
<!-- Sidebar ends -->