<%= render layout: "layouts/mainbar" do %>
<% end %>

<div class="container">
  <h3>About Us</h3>
  <p>We are four aspiring developers from the <a href="https://www.flatironschool.com" target="blank" style="text-decoration: none;">Flatiron School</a> learning to love code. AYER is our final project for the Web Immersive course. AYER allows you to easily capture moments in your life and visualize them through beautiful maps powered by Mapbox. Simply attach a memo or a photograph to relive those moments. AYER was built on Ruby on Rails and hosted on Heroku.</p>
  <p>Check out the source code <a href="https://github.com/walterbm/nostalgeo">here</a> on Github.</p>
  <img src="/assets/teamOG.jpg" style="margin:auto;display:block;width:50%;padding-top:25px;padding-bottom:25px;">
</div>