<%= render layout: "layouts/mainbar" do %>
  <div class="col-md-6 col-sm-6 col-xs-6">
    <h4><i class="fa fa-street-view lblue"></i> Welcome to AYER!</h4>
  </div>
<% end %>

<%= render partial: "map", locals: {users: @users}%>
<%= render partial: "layouts/footer" %>