<h1>Welcome to Moments!</h1>

<div id="map-wrapper">
  <div id= 'map'>
    <script>
      $(function() {
        map = new MakeMap("<%= geojson_path(@users) %>","welcome#index");
      });
    </script>
  </div>
</div>