<!DOCTYPE html>
<html>
  <head>
    <!-- Title here -->
    <title>Barnie</title>
    <!-- Description, Keywords and Author -->
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your,Keywords">
    <meta name="author" content="ResponsiveWebInc">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  
  <body>

    <div class="outer">
      
      <!-- Sidebar starts -->
      <div class="sidebar">
      
        <div class="sidey">
      
          <!-- Logo -->
          <div class="logo">
            <h1><a href="index.html"><i class="fa fa-desktop br-red"></i> Barnie <span>It's Legendary</span></a></h1>
          </div>
          
          <!-- Sidebar navigation starts -->
          
          <!-- Responsive dropdown -->
          <div class="sidebar-dropdown"><a href="#" class="br-red"><i class="fa fa-bars"></i></a></div>
          
          <div class="side-nav">
          
            <div class="side-nav-block">
              <!-- Sidebar heading -->
              <h4>Main</h4>
              <!-- Sidebar links -->
              <ul class="list-unstyled">
                <li><a href="index.html"><i class="fa fa-desktop"></i> Dashboard</a></li>
                <li><a href="widgets.html"><i class="fa fa-bullseye"></i> Widget <span class="badge badge-danger pull-right">6</span></a></li>
                <li><a href="charts.html"><i class="fa fa-signal"></i> Charts <span class="badge badge-info pull-right">5</span></a></li>
                <li><a href="ui.html"><i class="fa fa-wrench"></i> UI</a></li>
                <!-- Mainmenu with submenu -->
                <li class="has_submenu">
                  <a href="#"><i class="fa fa-file"></i> Pages <span class="nav-caret fa fa-caret-down"></span></a>
                  <!-- Submenu -->
                  <ul class="list-unstyled">
                    <li><a href="calendar.html"><i class="fa fa-angle-double-right"></i> Calendar</a></li>
                    <li><a href="errorlog.html"><i class="fa fa-angle-double-right"></i> Error Logs</a></li>
                    <li><a href="gallery.html"><i class="fa fa-angle-double-right"></i> Gallery</a></li>
                    <li><a href="invoice.html"><i class="fa fa-angle-double-right"></i> Invoice</a></li>
                    <li><a href="media.html"><i class="fa fa-angle-double-right"></i> Media</a></li>
                    <li><a href="posts.html"><i class="fa fa-angle-double-right"></i> Posts</a></li>
                    <li><a href="statement.html"><i class="fa fa-angle-double-right"></i> Statement</a></li>
                  </ul>
                </li>
                <li><a href="users.html"><i class="fa fa-user"></i> Users</a></li>
                <!-- Mainmenu with submenu -->
                <li class="has_submenu">
                  <a href="#"><i class="fa fa-file-text-o"></i> Forms <span class="nav-caret fa fa-caret-down"></span></a>
                  <!-- Submenu -->
                  <ul class="list-unstyled">
                    <li><a href="form.html"><i class="fa fa-angle-double-right"></i> General Form</a></li>
                    <li><a href="form-validate.html"><i class="fa fa-angle-double-right"></i> Validate Form</a></li>
                    <li><a href="form-wizard.html"><i class="fa fa-angle-double-right"></i> Wizard Form</a></li>
                  </ul>
                </li>
                <!-- Mainmenu with submenu -->
                <li class="has_submenu">
                  <a href="#"><i class="fa fa-table"></i> Tables <span class="nav-caret fa fa-caret-down"></span></a>
                  <!-- Submenu -->
                  <ul class="list-unstyled">
                    <li><a href="tables.html"><i class="fa fa-angle-double-right"></i> General Tables</a></li>
                    <li><a href="tables-data.html"><i class="fa fa-angle-double-right"></i> Data Table</a></li>
                  </ul>
                </li>
                <!-- Mainmenu with submenu -->
                <li class="has_submenu">
                  <a href="#"><i class="fa fa-envelope"></i> Mail <span class="nav-caret fa fa-caret-down"></span></a>
                  <!-- Submenu -->
                  <ul class="list-unstyled">
                    <li><a href="inbox.html"><i class="fa fa-angle-double-right"></i> Inbox</a></li>
                    <li><a href="mail-read.html"><i class="fa fa-angle-double-right"></i> Mail Read</a></li>
                    <li><a href="mail-write.html"><i class="fa fa-angle-double-right"></i> Mail Compose</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            
            <div class="side-nav-block">
              <h4>Menu</h4>
              <ul class="list-unstyled">
                <li><a href="0-base.html" class="active"><i class="fa fa-desktop"></i> Blank Page</a></li>
                <li><a href="login.html"><i class="fa fa-sign-in"></i> Login</a></li>
                <li><a href="404.html"><i class="fa fa-times"></i> Error Page</a></li>
                <li><a href="grid.html"><i class="fa fa-th-large"></i> Grids</a></li>
                <li><a href="lock.html"><i class="fa fa-lock"></i> Lock</a></li>
              </ul>
            </div>
            
            
          </div>
          
          <!-- Sidebar navigation ends -->
          
        </div>
      </div>
      <!-- Sidebar ends -->
      
      <!-- Mainbar starts -->
      <div class="mainbar">
      
        <!-- Mainbar head starts -->
        <div class="main-head">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-4 col-xs-6">
                <!-- Page title -->
                <h2><i class="fa fa-desktop lblue"></i> Dashboard</h2>
              </div>
              
              <div class="col-md-3 col-sm-4 col-xs-6">
                <!-- Search block -->
                <div class="head-search">
                  <form class="form" role="form">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search...">
                      <span class="input-group-btn">
                      <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                      </span>
                    </div>
                  </form>
                </div>
              </div>
              
              <div class="col-md-3 col-sm-4 hidden-xs">
                <!-- Notifications -->
                <div class="head-noty text-center">
                  
                    <!-- Notifications -->
                    <div class="dropdown">
                      <a href="#" id="notifications" data-toggle="dropdown" class="mhead-icon" ><i class="fa fa-bell"></i> <span class="label label-info">5</span></a>
                      <!-- Dropdown -->
                      <ul class="dropdown-menu" role="button" aria-labelledby="notifications">
                      
                      <!-- Dropdown menu head -->
                      <li class="dropdown-head">
                        Notifications <span class="label label-info pull-right">5</span>
                      </li>
                      <!-- Content -->
                      <li><a href="#">
                        <!-- Colored icon with text and time -->
                        <i class="fa fa-user"></i> New User Registered <b class="pull-right">5 mins ago</b>
                        <div class="clearfix"></div>
                      </a></li>
                      <li><a href="#">
                        <i class="fa fa-shopping-cart"></i> New Order for Dress <b class="pull-right">10 mins ago</b>
                        <div class="clearfix"></div>
                      </a></li>
                      <li><a href="#">
                        <i class="fa fa-sign-out"></i> User Ravi Kumar Sign Out <b class="pull-right">20 hr ago</b>
                        <div class="clearfix"></div>
                      </a></li>
                      <li><a href="#">
                        <i class="fa fa-envelope"></i> New Message from Ravi <b class="pull-right">1 day ago</b>
                        <div class="clearfix"></div>
                      </a></li>
                      <li><a href="#">
                        <i class="fa fa-laptop"></i> Full Backup Completed <b class="pull-right">2 day ago</b>
                        <div class="clearfix"></div>
                      </a></li>
                      
                      <li class="dropdown-foot text-center">
                        <a href="#">View All</a>
                      </li>
                      
                      </ul>
                    </div>
                  
                    <!-- Messages -->
                    <div class="dropdown">
                      <a href="#" id="messages" data-toggle="dropdown" class="mhead-icon" ><i class="fa fa-envelope"></i> <span class="label label-danger">5</span></a>
                      <ul class="dropdown-menu" role="button" aria-labelledby="messages">
                      
                      <!-- Dropdown menu head -->
                      <li class="dropdown-head">
                        Messages <span class="label label-danger pull-right">5</span>
                      </li>
                      <!-- Content -->
                      <li><a href="#">
                        <!-- Title -->
                        Hello How are you? <i class="fa fa-reply pull-right"></i>
                        <!-- Para -->
                        <span>Lorem ipsum dolor sit amet something elit.</span>
                        <div class="clearfix"></div>
                      </a></li>
                      <li><a href="#">
                        What are you doing today? <i class="fa fa-reply pull-right"></i>
                        <span>Lorem ipsum dolor sit amet something elit.</span>
                        <div class="clearfix"></div>
                      </a></li>
                      <li><a href="#">
                        Why don't you come here? <i class="fa fa-reply pull-right"></i>
                        <span>Lorem ipsum dolor sit amet something elit.</span>
                        <div class="clearfix"></div>
                      </a></li>
                      
                      <li class="dropdown-foot text-center">
                        <a href="#">View All</a>
                      </li>
                      
                      </ul>
                    </div>
                    
                    <!-- Users -->
                    <div class="dropdown">
                      <a href="#" id="users" data-toggle="dropdown" class="mhead-icon" ><i class="fa fa-user"></i> <span class="label label-success">5</span></a>
                      <!-- Dropdown -->
                      <ul class="dropdown-menu drop-users" role="button" aria-labelledby="users">
                      
                      <!-- Dropdown menu head -->
                      <li class="dropdown-head">
                        Users <span class="label label-success pull-right">5</span>
                      </li>
                      <!-- Content -->
                      <li><a href="#">
                        <!-- User image -->
                        <img src="assets/user1.png" alt="" class="img-responsive img-circle" />
                        <!-- User details -->
                        <div class="duser-content">
                          Anjelina Jolie
                          <span>Lorem ipsum dolor sit amet elit.</span>
                        </div>
                        <div class="clearfix"></div>
                      </a></li>
                      <li><a href="#">
                        <img src="assets/user2.png" alt="" class="img-responsive img-circle" />
                        <div class="duser-content">
                          Brad Pitt 
                          <span>Lorem ipsum dolor sit amet elit.</span>
                        </div>
                        <div class="clearfix"></div>
                      </a></li>
                      <li><a href="#">
                        <img src="assets/user1.png" alt="" class="img-responsive img-circle" />
                        <div class="duser-content">
                          Al Pacino 
                          <span>Lorem ipsum dolor sit amet elit.</span>
                        </div>
                        <div class="clearfix"></div>
                      </a></li>
                      
                      <li class="dropdown-foot text-center">
                        <a href="#">View All</a>
                      </li>
                      
                      </ul>
                    </div>
                    
                </div>
                <div class="clearfix"></div>
              </div>
              
              
              <div class="col-md-3 hidden-sm hidden-xs">
                <!-- Head user -->
                <div class="head-user dropdown pull-right">
                  <a href="#" data-toggle="dropdown" id="profile">
                    <!-- Icon 
                    <i class="fa fa-user"></i>  -->
                    
                    <img src="assets/user2.png" alt="" class="img-responsive img-circle"/>
                    
                    <!-- User name -->
                    ashokram <span class="label label-danger">5</span> 
                    <i class="fa fa-caret-down"></i> 
                  </a>
                  <!-- Dropdown -->
                  <ul class="dropdown-menu" aria-labelledby="profile">
                      <li><a href="#">View/Edit Profile <span class="badge badge-info pull-right">6</span></a></li>
                    <li><a href="#">Change Settings</a></li>
                    <li><a href="#">Messages <span class="badge badge-danger pull-right">5</span></a></li>
                    <li><a href="#">Sign Out</a></li>
                  </ul>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>  
          </div>
          
        </div>
        
        <!-- Mainbar head ends -->
        
        <div class="main-content">
          <div class="container">
                    
            <div class="page-content">
            
              <!-- Heading -->
              <div class="single-head">
                <!-- Heading -->
                <h3 class="pull-left"><i class="fa fa-desktop orange"></i> User Interface</h3>
                <!-- Bread crumbs -->
                <div class="breads pull-right">
                  <strong>Nav</strong> : <a href="#">Home</a> / <a href="#">Sign</a> / Home
                </div>
                <div class="clearfix"></div>
              </div>
              
              <!-- Ui Element -->
              <div class="page-ui-element">
                <div class="row">
                  <div class="col-md-6">
                    <!-- Progress bar widget -->
                    <div class="ui-element-container">
                      <h3>Progress Bar</h3>
                      <h4>Basic Progress Bar</h4>
                      <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
                      </div>
                      <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
                      </div>
                      <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                      </div>
                      <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                      </div>
                      <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                      </div>
                      <hr /> <!-- Horizontal line -->
                      <h4>Striped Progress Bar</h4>
                      <div class="progress progress-striped">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
                      </div>
                      <div class="progress progress-striped">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                      </div>
                      <hr /> <!-- Horizontal line -->
                      <h4>Animated Progress Bar</h4>
                      <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
                      </div>
                      <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                      </div>
                      <hr /> <!-- Horizontal line -->
                      <h4>Stacked Progress Bar</h4>
                      <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%"></div>
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
                      </div>
                    </div> <!-- Progress bar widget end -->
                  </div>
                  <div class="col-md-6">
                    <!-- Alert Widget -->
                    <div class="ui-element-container">
                      <!-- Widget head -->
                      <h3>Alert Dialogs</h3>
                      <div class="alert alert-warning alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>Warning!</strong> Dismissable alert, you're not looking too good.
                      </div>
                      <div class="alert alert-success">
                        <strong>Success!</strong> , you're looking too good.
                      </div>
                      <div class="alert alert-info">
                        <strong>Heads up!</strong> This alert needs your <strong>attention</strong>, but it's not super important.
                      </div>
                      <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>Danger!</strong> Something goes wrong, Please <strong>check again</strong>.
                      </div>
                    </div>
                  </div>
                  <div class="clearfix visible-lg visible-md"></div>
                  <div class="col-md-6">
                    <!-- Switch widget -->
                    <div class="ui-element-container">
                      <!-- Widget head -->
                      <h3>Switches & Date-Time Picker</h3>
                      <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                          <div class="switch-container">
                            <!-- Heading -->
                            <h4>Multi Colour Switch</h4>
                            <div class="sw-lblue">
                              <input type="checkbox" class="checkboxes" checked />
                            </div>
                            <div class="sw-red">
                              <input type="checkbox" class="checkboxes" checked />
                            </div>
                            <div class="sw-green">
                              <input type="checkbox" class="checkboxes" checked />
                            </div>
                            <div class="sw-blue">
                              <input type="checkbox" class="checkboxes" checked />
                            </div>
                            <div class="sw-orange">
                              <input type="checkbox" class="checkboxes" checked />
                            </div>
                            <div>
                              <input type="checkbox" class="checkboxes" checked />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                          <div class="switch-container">
                            <!-- Heading -->
                            <h4>Disable Switch</h4>
                            <div class="sw-red">
                              <input type="checkbox" class="checkboxes" checked disabled />
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr />
                      <!-- Heading -->
                      <h4>Date Picker</h4>
                      <!-- Date Picker -->
                       <div id="datetimepicker1" class="input-append input-group dtpicker">
                        <input data-format="yyyy-MM-dd" type="text" class="form-control">
                        <span class="input-group-addon add-on">
                          <i data-time-icon="fa fa-times" data-date-icon="fa fa-calendar"></i>
                        </span>
                      </div>
                      <hr />
                      <!-- Heading -->
                      <h4>Time Picker</h4>
                      <!-- Time Picker -->
                      <div id="datetimepicker2" class="input-append input-group dtpicker">
                        <input data-format="hh:mm:ss" class="form-control" type="text">
                        <span class="input-group-addon add-on">
                          <i data-time-icon="fa fa-clock-o" data-date-icon="fa fa-calendar"></i>
                        </span>
                      </div>
                    </div> <!-- Switch widget end -->
                  </div>
                  <div class="col-md-6">
                    <!-- Input Widget -->
                    <div class="ui-element-container">
                      <!-- Widget head -->
                      <h3>Input Groups</h3>
                      <!-- Heading -->
                      <h4>Group 1</h4>
                      <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input type="text" class="form-control" placeholder="Username">
                      </div>

                      <!-- Heading -->
                      <h4>Group 2</h4>
                      <div class="input-group">
                        <span class="input-group-addon"><input type="checkbox"></span>
                        <input type="text" class="form-control">
                        <span class="input-group-addon">.00</span>
                      </div>
                      <hr /> <!-- Horizontal line -->
                      <!-- Heading -->
                      <h4>Small size</h4>
                      <!-- Small -->
                      <div class="input-group input-group-sm">
                        <span class="input-group-btn"><button class="btn btn-info" type="button">Go!</button></span>
                        <input type="text" class="form-control" placeholder="input-group-sm">
                      </div>
                      <!-- Heading -->
                      <h4>Default size</h4>
                      <!-- Default -->
                      <div class="input-group">
                        <div class="input-group-btn">
                          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                              <li><a href="#">Action</a></li>
                              <li><a href="#">Another action</a></li>
                              <li><a href="#">Something else here</a></li>
                              <li class="divider"></li>
                              <li><a href="#">Separated link</a></li>
                            </ul>
                        </div><!-- /btn-group -->
                        <input type="text" class="form-control" placeholder="input-group">
                      </div>
                      <!-- Heading -->
                      <h4>Large size</h4>
                      <!-- Large -->
                      <div class="input-group input-group-lg">
                        <span class="input-group-addon">@</span>
                        <input type="text" class="form-control" placeholder="input-group-lg">
                      </div>
                    </div>
                  </div>
                  <div class="clearfix visible-lg visible-md"></div>
                  <div class="col-md-6">
                    <!-- Model & Label Widget -->
                    <div class="ui-element-container">
                      <!-- Heading -->
                      <h3>Model & Label</h3>
                      <!-- Heading -->
                      <h4>Model</h4>
                      <!-- Button to trigger modal -->
                      <a href="#myModal" class="btn btn-info btn-sm" data-toggle="modal">Launch demo modal</a>
                       
                      <!-- Modal -->
                      <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x </button>
                              <h4 class="modal-title">Modal title</h4>
                            </div>
                            <div class="modal-body">
                              <p>Success! , you're looking too good. This is a model.</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" aria-hidden="true">Close</button>
                              <button type="button" class="btn btn-primary btn-sm">Save changes</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr /> <!-- Horizontal line -->
                      <!-- Heading -->
                      <h4>Labels</h4>
                      <span class="label label-default">Default</span>
                      <span class="label label-success">Success</span>
                      <span class="label label-warning">Warning</span>
                      <span class="label label-danger">Important</span>
                      <span class="label label-info">Info</span>
                      <span class="label label-success">Success</span>
                      <span class="label label-yellow">Yellow</span>
                      <span class="label label-purple">Purple</span>
                      <span class="label label-rose">Rose</span>
                      <span class="label label-brown">Brown</span>
                      <span class="label label-black">Black</span>
                    </div>
                    <!-- Nav tab -->
                    <div class="ui-element-container">
                      <!-- Heading -->
                      <h3>Tab</h3>
                      <ul id="myTab" class="nav nav-tabs">
                        <li class="active"><a href="#one" data-toggle="tab">Home</a></li>
                        <li><a href="#two" data-toggle="tab">Profile</a></li>
                        <li><a href="#three" data-toggle="tab">Content</a></li>
                      </ul>
                      <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="one">
                          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
                        </div>
                        <div class="tab-pane fade" id="two">
                          <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four.</p>
                        </div>
                        <div class="tab-pane fade" id="three">
                          <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <!-- Button Group Widget -->
                    <div class="ui-element-container">
                      <!-- Heading -->
                      <h3>Button Group</h3>
                      <div class="row">
                        <div class="col-md-6 col-sm-6">
                          <!-- Heading -->
                          <h4>Large size</h4>
                          <!-- Large -->
                          <div class="btn-group btn-group-lg">
                            <button type="button" class="btn btn-default">Left</button>
                            <button type="button" class="btn btn-success">center</button>
                            <button type="button" class="btn btn-default">Right</button>
                          </div>
                          <!-- Heading -->
                          <h4>Default size</h4>
                          <!-- Large -->
                          <div class="btn-group">
                            <button type="button" class="btn btn-default">Left</button>
                            <button type="button" class="btn btn-danger">center</button>
                            <button type="button" class="btn btn-default">Right</button>
                          </div>
                          <!-- Heading -->
                          <h4>Small size</h4>
                          <!-- Large -->
                          <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-default">Left</button>
                            <button type="button" class="btn btn-info">center</button>
                            <button type="button" class="btn btn-default">Right</button>
                          </div>
                          <!-- Heading -->
                          <h4>Extra Small size</h4>
                          <!-- Large -->
                          <div class="btn-group btn-group-xs">
                            <button type="button" class="btn btn-default">Left</button>
                            <button type="button" class="btn btn-warning">center</button>
                            <button type="button" class="btn btn-default">Right</button>
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                          <!-- Heading -->
                          <h4>Horizontal Button Group</h4>
                          <div class="btn-group">
                            <button type="button" class="btn btn-default">1</button>
                            <button type="button" class="btn btn-default">2</button>
                            <div class="btn-group">
                              <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                Dropdown
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                <li><a href="#">Dropdown link</a></li>
                                <li><a href="#">Dropdown link</a></li>
                              </ul>
                            </div>
                          </div>
                          <!-- Heading -->
                          <h4>Vertical Button Group</h4>
                          <div class="btn-group btn-group-vertical">
                            <button type="button" class="btn btn-default">One</button>
                            <button type="button" class="btn btn-default">Two</button>
                            <button type="button" class="btn btn-default">Three</button>
                            <div class="btn-group">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Dropdown
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                <li><a href="#">Dropdown link</a></li>
                                <li><a href="#">Dropdown link</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr />
                      <!-- Heading -->
                      <h4>Multi Colors Button</h4>
                        <div class="m-color-btn">
                        <!-- Buttons -->
                        <button type="button" class="btn btn-default">Default</button>
                        <button type="button" class="btn btn-info">Info</button>
                        <button type="button" class="btn btn-danger">Danger</button>
                        <button type="button" class="btn btn-warning">Warning</button>
                        <button type="button" class="btn btn-black">Black</button>
                        <button type="button" class="btn btn-primary">Primary</button>
                        <button type="button" class="btn btn-success">Success</button>
                        <button type="button" class="btn btn-yellow">Yellow</button>
                        <button type="button" class="btn btn-purple">Purple</button>
                        <button type="button" class="btn btn-rose">Rose</button>
                        <button type="button" class="btn btn-brown">Brown</button>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix visible-lg visible-md"></div>
                  <div class="col-md-6">
                    <div class="ui-element-container">
                      <!-- Heading -->
                      <h3>Pagination & Date Picker</h3>
                      <!-- Heading -->
                      <h4>Pagination</h4>
                      <!-- Basic -->
                      <ul class="pagination pagination-lg">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                      </ul>
                      <br />
                      <!-- Active -->
                      <ul class="pagination">
                        <li class="disabled"><span>&laquo;</span></li>
                        <li class="active"><span>1 <span class="sr-only">(current)</span></span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                      </ul>
                      <br />
                      <!-- Basic -->
                      <ul class="pagination pagination-sm">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                      </ul>
                      <br />
                      <!-- Basic -->
                      <ul class="pagination pagination-xs">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                      </ul>
                      <hr />
                      <!-- Heading -->
                      <h4>Pagers</h4>
                      <!-- Default -->
                      <ul class="pager">
                        <li><a href="#">Previous</a></li>
                        <li><a href="#">Next</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="ui-element-container">
                      <!-- Heading -->
                      <h3>Badges, Breadcrumbs & Tooltips</h3>
                      <!-- Heading -->
                      <h4>Badges</h4>
                      <span class="badge badge-danger">1</span>
                      <span class="badge badge-info">2</span>
                      <span class="badge badge-success">3</span>
                      <span class="badge badge-warning">4</span>
                      <span class="badge badge-primary">5</span>
                      <span class="badge badge-default">6</span>
                      <hr /> <!-- Horizontal line -->
                      <!-- Heading -->
                      <h4>Breadcrumbs</h4>
                      <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Library</a></li>
                        <li class="active">Data</li>
                      </ol>
                      <hr /> <!-- Horizontal line -->
                      <!-- Heading -->
                      <h4>Tooltip</h4>
                      <button type="button" class="btn btn-danger ui-tooltip" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top</button>
                      <button type="button" class="btn btn-default ui-tooltip" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>
                      <button type="button" class="btn btn-success ui-tooltip" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</button>
                      <button type="button" class="btn btn-info ui-tooltip" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</button>
                    </div>
                  </div>
                  <div class="clearfix visible-lg visible-md"></div>
                  <div class="col-md-6">
                    <div class="ui-element-container">
                      <!-- Heading -->
                      <h3>Drop-Down Menu & Navigation Tab / Pills</h3>
                      <!-- Heading -->
                      <h4>Drop-Down Menu</h4>
                      <ul class="nav nav-tabs">
                        <li class="dropdown">
                          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Dropdown <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Messages</a></li>
                      </ul>
                      <hr />
                      <!-- Heading -->
                      <h4>Navigation Tab Justified</h4>
                      <!-- Nav Pills -->
                      <ul class="nav nav-tabs nav-justified">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Messages</a></li>
                      </ul>
                      <hr />
                      <!-- Heading -->
                      <h4>Navigation Pills</h4>
                      <!-- Nav Tab -->
                      <ul class="nav nav-tabs">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Messages</a></li>   
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="ui-element-container">
                      <!-- Heading -->
                      <h3>Slider</h3>
                      <!-- Heading -->
                      <h4>Horizontal Slider</h4>
                      <!-- Slider -->
                      <div id="master4" class="slider-yellow"></div>
                      <div id="master1" class="slider-red"></div>
                      <div id="master3" class="slider-green"></div>
                      <div id="master5" class="slider-orange"></div>
                      <div id="master2" class="slider-blue"></div>
                      <div id="master6" class="slider-violet"></div>
                      <hr />
                      <!-- Heading -->
                      <h4>Vertical Slider</h4>
                      <!-- Slider -->
                      <div id="eq">
                        <span class="slider-red">88</span>
                        <span class="slider-blue">77</span>
                        <span class="slider-green">55</span>
                        <span class="slider-yellow">33</span>
                        <span class="slider-orange">40</span>
                        <span class="slider-violet">45</span>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix visible-lg visible-md"></div>
                  <div class="col-md-6">
                    <div class="ui-element-container">
                      <!-- Heading -->
                      <h3>Notification & Star Rate</h3>
                      <!-- Heading -->
                      <h4>Notification</h4>
                      <!-- Notification Links -->
                      <a href="#" class="btn notify btn-default btn-sm">Notification</a>
                      <a href="#" class="btn notify-sticky btn-default btn-sm">Sticky Notification</a>
                      <a href="#" class="btn notify-without-image btn-default btn-sm">Notification - Without Image</a>
                      <a href="#" class="btn notify-remove btn-default btn-sm">Remove</a>
                      <hr />
                      <!-- Heading -->
                      <h4>Star Rating</h4>
                      <!-- Rate it Plugin -->
                      <div class="rateit" data-rateit-resetable="false"></div>
                    </div>
                  </div>
                </div>
              </div> <!-- Page UI element end -->

            </div> <!-- Page content end -->

            <div class="page-content">
            
              <!-- Heading -->
              <div class="single-head">
                <!-- Heading -->
                <h3 class="pull-left"><i class="fa fa-table green"></i> Grid</h3>
                <!-- Bread crumbs -->
                <div class="breads pull-right">
                  <strong>Nav</strong> : <a href="#">Home</a> / <a href="#">Sign</a> / Home
                </div>
                <div class="clearfix"></div>
              </div>
              
              <!-- Grid page -->
              <div class="page-grid">
                <div class="container">
                  <div class="row show-grid">
                    <div class="col-md-1">1</div>
                    <div class="col-md-1">1</div>
                    <div class="col-md-1">1</div>
                    <div class="col-md-1">1</div>
                    <div class="col-md-1">1</div>
                    <div class="col-md-1">1</div>
                    <div class="col-md-1">1</div>
                    <div class="col-md-1">1</div>
                    <div class="col-md-1">1</div>
                    <div class="col-md-1">1</div>
                    <div class="col-md-1">1</div>
                    <div class="col-md-1">1</div>
                  </div>
                  <div class="row show-grid">
                    <div class="col-md-4">4</div>
                    <div class="col-md-4">4</div>
                    <div class="col-md-4">4</div>
                  </div>
                  <div class="row show-grid">
                    <div class="col-md-3">3</div>
                    <div class="col-md-3">3</div>
                    <div class="col-md-3">3</div>
                    <div class="col-md-3">3</div>
                  </div>
                  <div class="row show-grid">
                    <div class="col-md-4">4</div>
                    <div class="col-md-8">8</div>
                  </div>
                  <div class="row show-grid">
                    <div class="col-md-6">6</div>
                    <div class="col-md-6">6</div>
                  </div>
                  <div class="row show-grid">
                    <div class="col-md-12">12</div>
                  </div>
                </div>
              </div> <!-- Page grid end -->
              
            </div><!-- page content end -->
            

            <div class="page-content">
            
              <!-- Heading -->
              <div class="single-head">
                <!-- Heading -->
                <h3 class="pull-left"><i class="fa fa-credit-card red"></i> General Form</h3>
                <!-- Bread crumbs -->
                <div class="breads pull-right">
                  <strong>Nav</strong> : <a href="#">Home</a> / <a href="#">Sign</a> / Home
                </div>
                <div class="clearfix"></div>
              </div>
              
              <!-- Form page -->
              <div class="page-form">
                <!-- Form Content -->
                <form class="form-horizontal" role="form">
                              
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Input Box</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" placeholder="Input Box">
                    </div>
                  </div>
                                
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                      <input type="password" class="form-control" placeholder="Password Box" value="password">
                    </div>
                  </div>
                                
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Textarea</label>
                    <div class="col-lg-10">
                      <textarea class="form-control" rows="3" placeholder="Textarea"></textarea>
                    </div>
                  </div>    
                                
                  <div class="form-group">
                    <label for="exampleInputFile" class="col-lg-2 control-label">File input</label>
                    <div class="col-lg-10">
                      <input type="file" id="exampleInputFile">
                      <p class="help-block">Click to upload your file.</p>
                    </div>
                  </div>
                                
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Checkbox</label>
                    <div class="col-lg-10">
                      <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
                      </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-lg-2 control-label">Radio Box</label>
                    <div class="col-lg-10">
                      <div class="radio">
                        <label>
                          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                          Option one is this and that&mdash;be sure to include why it's great
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                          Option two can be something else and selecting it will deselect option one
                        </label>
                      </div>
                    </div>
                  </div>
                                
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Drop Down Box</label>
                    <div class="col-lg-10">
                      <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                  </div>     

                  <div class="form-group">
                    <label class="col-lg-2 control-label">Select Box</label>
                    <div class="col-lg-10">
                      <select multiple class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                  </div>   
                                
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <button type="button" class="btn btn-default">Default</button>
                      <button type="button" class="btn btn-primary">Primary</button>
                      <button type="button" class="btn btn-success">Success</button>
                      <button type="button" class="btn btn-info">Info</button>
                      <button type="button" class="btn btn-warning">Warning</button>
                      <button type="button" class="btn btn-danger">Danger</button>
                    </div>  
                  </div>
                </form>
              </div> <!-- Form page end -->
              
            </div> <!-- Page content end -->

          <div class="page-content page-widget">
            
              <!-- Heading -->
              <div class="single-head">
                <!-- Heading -->
                <h3 class="pull-left"><i class="fa fa-puzzle-piece lblue"></i> Widgets</h3>
                <!-- Bread crumbs -->
                <div class="breads pull-right">
                  <strong>Nav</strong> : <a href="#">Home</a> / <a href="#">Sign</a> / Home
                </div>
                <div class="clearfix"></div>
              </div>
              
              <!-- Index page widgets -->
              <div class="row">
                <div class="col-md-4">
                  
                  <!-- Project widget -->
                  <div class="widget projects-widget">
                    
                    <div class="widget-head br-green">
                      <h3><i class="fa fa-desktop"></i> Projects</h3>
                    </div>
                    
                    <div class="widget-body no-padd">
                      
                      <ul class="list-unstyled">

                        <li>
                          <p>
                          <!-- Checkbox -->
                          <input value="check1" type="checkbox">
                          <!-- Name -->
                          <strong>Hospital Management System</strong>
                          </p>

                          <p class="p-meta">
                          <!-- Due date & % Completed -->
                          <span>Due : 26/2/2012 - 80% Done</span> 
                          </p>
                          
                          <!-- Progress bar -->
                          <div class="progress">
                            <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                            <span class="sr-only">90% Complete</span>
                            </div>
                          </div>
                        </li>


                        <li>
                          <p>
                          <!-- Checkbox -->
                          <input value="check1" type="checkbox">
                          <!-- Name -->
                          <strong>School Download System</strong>
                          </p>

                          <p class="p-meta">
                          <!-- Due date & % Completed -->
                          <span>Due : 26/2/2012 - 80% Done</span> 
                          </p>

                           <!-- Progress bar -->
                        <div class="progress">
                            <div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                            <span class="sr-only">60% Complete</span>
                            </div>
                          </div>
                        </li>

                        <li>
                          <p>
                          <!-- Checkbox -->
                          <input value="check1" type="checkbox">
                          <!-- Name -->
                          <strong>Question and Answers Script</strong>
                          </p>

                          <p class="p-meta">
                          <!-- Due date & % Completed -->
                          <span>Due : 26/2/2012 - 80% Done</span> 
                          </p>

                          <!-- Progress bar -->
                          <div class="progress">
                            <div class="progress-bar progress-bar-danger"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                            <span class="sr-only">70% Complete</span>
                            </div>
                          </div>
                        </li>

                        <li>
                          <p>
                          <!-- Checkbox -->
                          <input value="check1" type="checkbox">
                          <!-- Name -->
                          <strong>Software Downloads Script</strong>
                          </p>

                          <p class="p-meta">
                          <!-- Due date & % Completed -->
                          <span>Due : 26/2/2012 - 80% Done</span> 
                          </p>

                           <!-- Progress bar -->
                           <div class="progress">
                            <div class="progress-bar progress-bar-warning"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                            <span class="sr-only">50% Complete</span>
                            </div>
                          </div>
                        </li>
                        
                      </ul>
                      
                    </div>
                    
                    
                    <div class="widget-foot">
                      <span class="pull-left"><i class="fa fa-time"></i> Last Update - 55 mins ago</span>
                      <a href="#" class="btn btn-success btn-xs pull-right">Refresh</a>
                      <div class="clearfix"></div>
                    </div>
                    
                  </div>
                  
                </div>
                
                <div class="col-md-4">
                  
                  <!-- Chat widget -->
                  <div class="widget chat-widget">
                    
                    <div class="widget-head br-red">
                      <h3><i class="fa fa-comments"></i> Chats</h3>
                    </div>
                    
                    <div class="widget-body scroll">
                      
                      <ul class="list-unstyled">

                        <!-- Chat by us. Use the class "by-me". -->
                        <li class="by-me">
                        <!-- Use the class "pull-left" in avatar -->
                        <div class="avatar pull-left">
                          <img src="img/user1.png" alt=""/>
                        </div>

                        <div class="chat-content">
                          <!-- In meta area, first include "name" and then "time" -->
                          <div class="chat-meta">Ashok <span class="pull-right">3 hours ago</span></div>
                          Vivamus diam elit diam, consectetur dapibus adipiscing elit.
                          <div class="clearfix"></div>
                        </div>
                        </li> 

                        <!-- Chat by other. Use the class "by-other". -->
                        <li class="by-other">
                        <!-- Use the class "pull-right" in avatar -->
                        <div class="avatar pull-right">
                          <img src="img/user2.png" alt=""/>
                        </div>

                        <div class="chat-content">
                          <!-- In the chat meta, first include "time" then "name" -->
                          <div class="chat-meta">3 hours ago <span class="pull-right">Ravi</span></div>
                          Vivamus diam elit diam, consectetur fconsectetur dapibus adipiscing elit.
                          <div class="clearfix"></div>
                        </div>
                        </li>   

                        <li class="by-me">
                        <div class="avatar pull-left">
                          <img src="img/user1.png" alt=""/>
                        </div>

                        <div class="chat-content">
                          <div class="chat-meta">Ashok <span class="pull-right">4 hours ago</span></div>
                          Vivamus diam elit diam, consectetur  dapibus adipiscing elit.
                          <div class="clearfix"></div>
                        </div>
                        </li>  

                        <li class="by-other">
                        <!-- Use the class "pull-right" in avatar -->
                        <div class="avatar pull-right">
                          <img src="img/user2.png" alt=""/>
                        </div>

                        <div class="chat-content">
                          <!-- In the chat meta, first include "time" then "name" -->
                          <div class="chat-meta">3 hours ago <span class="pull-right">Ravi</span></div>
                          Vivamus diam elit diam, consectetur fpibus adipiscing elit.
                          <div class="clearfix"></div>
                        </div>
                        </li> 

                        <li class="by-me">
                        <div class="avatar pull-left">
                          <img src="img/user1.png" alt=""/>
                        </div>

                        <div class="chat-content">
                          <div class="chat-meta">Ashok <span class="pull-right">4 hours ago</span></div>
                          Vivamus diam  eget, Vivamus consectetur dapibus adipiscing elit.
                          <div class="clearfix"></div>
                        </div>
                        </li>  

                        <li class="by-other">
                        <!-- Use the class "pull-right" in avatar -->
                        <div class="avatar pull-right">
                          <img src="img/user2.png" alt=""/>
                        </div>

                        <div class="chat-content">
                          <!-- In the chat meta, first include "time" then "name" -->
                          <div class="chat-meta">3 hours ago <span class="pull-right">Ravi</span></div>
                          Vivamus diam elit diam, consecsectetur dapibus adipiscing elit.
                          <div class="clearfix"></div>
                        </div>
                        </li>

                      </ul>
                      
                    </div>
                    
                    
                    <div class="widget-foot">
                      <form class="form-inline" role="form">
                        <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter Message...">
                        </div>
                        <button type="submit" class="btn btn-danger btn-sm">Send</button>
                      </form>
                    </div>
                    
                  </div>
                  
                </div>
                
                <div class="col-md-4">
                  
                  <!-- Tasks widget -->
                  <div class="widget tasks-widget">
                    
                    <div class="widget-head br-lblue">
                      <h3><i class="fa fa-tasks"></i> Tasks</h3>
                    </div>
                    
                    <div class="widget-body no-padd scroll">
                      
                      <ul>
                         <!-- Checkbox - Task - Flag -->
                         <li class="task-important"> <input type="checkbox"> <span>Lorem dolor sit sit amet dolor feugiat sit consur.</span> </li>
                         <li class="task-normal"> <input type="checkbox"> <span>Duis dolor sit eut purus dolor feugiat sit ineuis.</span> </li>
                         <li class="task-pending"> <input type="checkbox"> <span>Mauris dolor sit adiin ipsum dolor feugiat posuere.</span> </li>
                         <li class="task-important"> <input type="checkbox"> <span>Ut non dolor sit feu sit amet dolor feugiat sit cquat.</span> </li>
                         <li class="task-normal"> <input type="checkbox"> <span>Duis dolor sit eut purus dolor feugt interum euis.</span> </li>
                         <li class="task-pending"> <input type="checkbox"> <span>Nullam dolor sit pla augue dolor feuiat comodo.</span> </li>
                         <li class="task-important"> <input type="checkbox"> <span>Vivamus dolor sit ali ondntum dolor feugiat sit ittis.</span> </li>
                         <li class="task-normal"> <input type="checkbox"> <span>Duis dolor sit eut purus dolor  sit interum euis.</span> </li>
                         <li class="task-pending"> <input type="checkbox"> <span>Duis dolor sit eut purus  feugiat sit interum euis.</span> </li>
                      </ul>
                      
                    </div>
                    
                    <div class="widget-foot">
                      <form class="form-inline" role="form">
                        <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter Task Here...">
                        </div>
                        <button type="submit" class="btn btn-info btn-sm">Add Task</button>
                      </form>
                    </div>
                    
                  </div>
                                  
                </div>
                              
              </div>
              
              <div class="row">
              
                <div class="col-md-7">
                  <!-- Pages widget -->
                  <div class="widget pages-widget">
                    
                    <div class="widget-head br-red">
                      <h3><i class="fa fa-file"></i> Pages</h3>
                    </div>
                    
                    <div class="widget-body no-padd">
                      
                      <div class="table-responsive">
                        <table class="table table-bordered">
                          <!-- Table heading -->
                          <tr> 
                            <th><input type="checkbox"></th>
                            <th>Page Title</th>
                            <th>File Size</th>
                            <th>Status</th>
                            <th>Sort</th>
                            <th>Action</th>
                          </tr>
                          <tr>
                            <!-- Check box -->
                            <td><input type="checkbox"></td>
                            <!-- Page name -->
                            <td><a href="#">About Us</a></td>
                            <!-- Page size -->
                            <td>253.4 KB</td>
                            <!-- Status -->
                            <td><span class="badge badge-danger">R</span></td>
                            <!-- Sort -->
                            <td><a href="#"><i class="fa fa-chevron-up green"></i></a></td>
                            <!-- Actions -->
                            <td>
                              <a href="#"><i class="fa fa-edit lblue"></i></a> &nbsp; 
                              <a href="#"><i class="fa fa-share-square-o green"></i></a> &nbsp; 
                              <a href="#"><i class="fa fa-trash-o red"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td><input type="checkbox"></td>
                            <td><a href="#">Contact Us</a></td>
                            <td>213 KB</td>
                            <td><span class="badge badge-success">A</span></td>
                            <td><a href="#"><i class="fa fa-chevron-down red"></i></a></td>
                            <td>
                              <a href="#"><i class="fa fa-edit lblue"></i></a> &nbsp; 
                              <a href="#"><i class="fa fa-share-square-o green"></i></a> &nbsp; 
                              <a href="#"><i class="fa fa-trash-o red"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td><input type="checkbox"></td>
                            <td><a href="#">Dashboard</a></td>
                            <td>1.24 MB</td>
                            <td><span class="badge badge-warning">P</span></td>
                            <td><a href="#"><i class="fa fa-chevron-up green"></i></a></td>
                            <td>
                              <a href="#"><i class="fa fa-edit lblue"></i></a> &nbsp; 
                              <a href="#"><i class="fa fa-share-square-o green"></i></a> &nbsp; 
                              <a href="#"><i class="fa fa-trash-o red"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td><input type="checkbox"></td>
                            <td><a href="#">Download</a></td>
                            <td>30.00 MB</td>
                            <td><span class="badge badge-danger">R</span></td>
                            <td><a href="#"><i class="fa fa-chevron-down red"></i></a></td>
                            <td>
                              <a href="#"><i class="fa fa-edit lblue"></i></a> &nbsp; 
                              <a href="#"><i class="fa fa-share-square-o green"></i></a> &nbsp; 
                              <a href="#"><i class="fa fa-trash-o red"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td><input type="checkbox"></td>
                            <td><a href="#">Portfolio</a></td>
                            <td>140 MB</td>
                            <td><span class="badge badge-success">A</span></td>
                            <td><a href="#"><i class="fa fa-chevron-up green"></i></a></td>
                            <td>
                              <a href="#"><i class="fa fa-edit lblue"></i></a> &nbsp; 
                              <a href="#"><i class="fa fa-share-square-o green"></i></a> &nbsp; 
                              <a href="#"><i class="fa fa-trash-o red"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td><input type="checkbox"></td>
                            <td><a href="#">Contact Us</a></td>
                            <td>213 KB</td>
                            <td><span class="badge badge-warning">P</span></td>
                            <td><a href="#"><i class="fa fa-chevron-down red"></i></a></td>
                            <td>
                              <a href="#"><i class="fa fa-edit lblue"></i></a> &nbsp; 
                              <a href="#"><i class="fa fa-share-square-o green"></i></a> &nbsp; 
                              <a href="#"><i class="fa fa-trash-o red"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td><input type="checkbox"></td>
                            <td><a href="#">Dashboard</a></td>
                            <td>1.24 MB</td>
                            <td><span class="badge badge-danger">R</span></td>
                            <td><a href="#"><i class="fa fa-chevron-up green"></i></a></td>
                            <td>
                              <a href="#"><i class="fa fa-edit lblue"></i></a> &nbsp; 
                              <a href="#"><i class="fa fa-share-square-o green"></i></a> &nbsp; 
                              <a href="#"><i class="fa fa-trash-o red"></i></a>
                            </td>
                          </tr>
                        </table>
                      </div>
                      
                    </div>
                    
                    <div class="widget-foot">
                      <span class="pull-left">
                        <a href="#" class="btn btn-default btn-sm">Add New Page</a> &nbsp; 
                        <a href="#" class="btn btn-danger btn-sm">Delete All</a>
                      </span>
                      <div class="pull-right">
                        <!-- Pagination -->
                        <ul class="pagination">
                          <li><a href="#">&laquo;</a></li>
                          <li><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">5</a></li>
                          <li><a href="#">&raquo;</a></li>
                        </ul>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    
                  </div>
                
                </div>
                
                <div class="col-md-5">
                  <!-- Contacts widget -->
                  <div class="widget contacts-widget">
                    
                    <div class="widget-head br-purple">
                      <h3><i class="fa fa-user"></i> Contacts</h3>
                    </div>
                    
                    <div class="widget-body scroll">
                      
                      <ul class="list-unstyled">
                      
                        <!-- Alphabet with number of contacts -->
                        <li class="contact-alpha">
                          A <span class="badge badge-danger pull-right">30</span>
                          <div class="clearfix"></div>
                        </li>
                        
                        <!-- Single contact -->
                        <li class="c-list">
                          <!-- Contact pic -->
                          <div class="contact-pic">
                            <a href="#"><img src="img/user1.png" alt="" class="img-responsive"/></a>
                          </div>
                          <!-- Contact details -->
                          <div class="contact-details">
                            <!-- Contact name and number -->
                            <div class="pull-left">
                              <strong>Akshay Kumar</strong>
                              <small>(+1) 145-556-5848</small>
                            </div>
                            <!-- Call, Message and Email buttons -->
                            <div class="pull-right">
                              <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-phone"></i></a>
                              <a href="#" class="btn btn-info btn-xs"><i class="fa fa-envelope-o"></i></a>
                              <a href="#" class="btn btn-success btn-xs"><i class="fa fa-comments"></i></a>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </li>
                        
                        <li class="c-list">
                          <!-- Contact pic -->
                          <div class="contact-pic">
                            <a href="#"><img src="img/user2.png" alt="" class="img-responsive"/></a>
                          </div>
                          <!-- Contact details -->
                          <div class="contact-details">
                            <!-- Contact name and number -->
                            <div class="pull-left">
                              <strong>Arun Babu</strong>
                              <small>(+11) 425-576-9849</small>
                            </div>
                            <!-- Call, Message and Email buttons -->
                            <div class="pull-right">
                              <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-phone"></i></a>
                              <a href="#" class="btn btn-info btn-xs"><i class="fa fa-envelope-o"></i></a>
                              <a href="#" class="btn btn-success btn-xs"><i class="fa fa-comments"></i></a>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </li>

                        <li class="c-list">
                          <!-- Contact pic -->
                          <div class="contact-pic">
                            <a href="#"><img src="img/user1.png" alt="" class="img-responsive"/></a>
                          </div>
                          <!-- Contact details -->
                          <div class="contact-details">
                            <!-- Contact name and number -->
                            <div class="pull-left">
                              <strong>Ashok Ramesh</strong>
                              <small>(+1) 245-556-2849</small>
                            </div>
                            <!-- Call, Message and Email buttons -->
                            <div class="pull-right">
                              <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-phone"></i></a>
                              <a href="#" class="btn btn-info btn-xs"><i class="fa fa-envelope-o"></i></a>
                              <a href="#" class="btn btn-success btn-xs"><i class="fa fa-comments"></i></a>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </li>

                        <li class="contact-alpha">
                          B <span class="badge badge-danger pull-right">10</span>
                          <div class="clearfix"></div>
                        </li>                       
                        
                        <li class="c-list">
                          <!-- Contact pic -->
                          <div class="contact-pic">
                            <a href="#"><img src="img/user1.png" alt="" class="img-responsive"/></a>
                          </div>
                          <!-- Contact details -->
                          <div class="contact-details">
                            <!-- Contact name and number -->
                            <div class="pull-left">
                              <strong>Babu Reddy</strong>
                              <small>(+1) 145-556-5848</small>
                            </div>
                            <!-- Call, Message and Email buttons -->
                            <div class="pull-right">
                              <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-phone"></i></a>
                              <a href="#" class="btn btn-info btn-xs"><i class="fa fa-envelope-o"></i></a>
                              <a href="#" class="btn btn-success btn-xs"><i class="fa fa-comments"></i></a>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </li>
                        
                        <li class="c-list">
                          <!-- Contact pic -->
                          <div class="contact-pic">
                            <a href="#"><img src="img/user2.png" alt="" class="img-responsive"/></a>
                          </div>
                          <!-- Contact details -->
                          <div class="contact-details">
                            <!-- Contact name and number -->
                            <div class="pull-left">
                              <strong>Biswin Kumar</strong>
                              <small>(+11) 425-576-9849</small>
                            </div>
                            <!-- Call, Message and Email buttons -->
                            <div class="pull-right">
                              <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-phone"></i></a>
                              <a href="#" class="btn btn-info btn-xs"><i class="fa fa-envelope-o"></i></a>
                              <a href="#" class="btn btn-success btn-xs"><i class="fa fa-comments"></i></a>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </li>

                        <li class="c-list">
                          <!-- Contact pic -->
                          <div class="contact-pic">
                            <a href="#"><img src="img/user1.png" alt="" class="img-responsive"/></a>
                          </div>
                          <!-- Contact details -->
                          <div class="contact-details">
                            <!-- Contact name and number -->
                            <div class="pull-left">
                              <strong>Balaji</strong>
                              <small>(+1) 245-556-2849</small>
                            </div>
                            <!-- Call, Message and Email buttons -->
                            <div class="pull-right">
                              <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-phone"></i></a>
                              <a href="#" class="btn btn-info btn-xs"><i class="fa fa-envelope-o"></i></a>
                              <a href="#" class="btn btn-success btn-xs"><i class="fa fa-comments"></i></a>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </li>   

                        <li class="contact-alpha">
                          S <span class="badge badge-danger pull-right">10</span>
                          <div class="clearfix"></div>
                        </li>                       
                        
                        <li class="c-list">
                          <!-- Contact pic -->
                          <div class="contact-pic">
                            <a href="#"><img src="img/user1.png" alt="" class="img-responsive"/></a>
                          </div>
                          <!-- Contact details -->
                          <div class="contact-details">
                            <!-- Contact name and number -->
                            <div class="pull-left">
                              <strong>Satish Kumar</strong>
                              <small>(+1) 145-556-5848</small>
                            </div>
                            <!-- Call, Message and Email buttons -->
                            <div class="pull-right">
                              <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-phone"></i></a>
                              <a href="#" class="btn btn-info btn-xs"><i class="fa fa-envelope-o"></i></a>
                              <a href="#" class="btn btn-success btn-xs"><i class="fa fa-comments"></i></a>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </li>
                        
                        <li class="c-list">
                          <!-- Contact pic -->
                          <div class="contact-pic">
                            <a href="#"><img src="img/user2.png" alt="" class="img-responsive"/></a>
                          </div>
                          <!-- Contact details -->
                          <div class="contact-details">
                            <!-- Contact name and number -->
                            <div class="pull-left">
                              <strong>Siva Kumar</strong>
                              <small>(+11) 425-576-9849</small>
                            </div>
                            <!-- Call, Message and Email buttons -->
                            <div class="pull-right">
                              <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-phone"></i></a>
                              <a href="#" class="btn btn-info btn-xs"><i class="fa fa-envelope-o"></i></a>
                              <a href="#" class="btn btn-success btn-xs"><i class="fa fa-comments"></i></a>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </li>

                        <li class="c-list">
                          <!-- Contact pic -->
                          <div class="contact-pic">
                            <a href="#"><img src="img/user1.png" alt="" class="img-responsive"/></a>
                          </div>
                          <!-- Contact details -->
                          <div class="contact-details">
                            <!-- Contact name and number -->
                            <div class="pull-left">
                              <strong>Sabari</strong>
                              <small>(+1) 245-556-2849</small>
                            </div>
                            <!-- Call, Message and Email buttons -->
                            <div class="pull-right">
                              <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-phone"></i></a>
                              <a href="#" class="btn btn-info btn-xs"><i class="fa fa-envelope-o"></i></a>
                              <a href="#" class="btn btn-success btn-xs"><i class="fa fa-comments"></i></a>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </li>                       
                        
                      </ul>
                                          
                    </div>
                    
                    <div class="widget-foot">
                      <span class="pull-left">520 Contacts</span>
                      <a href="#" class="btn btn-purple btn-xs pull-right">Add New Contact</a>
                      <div class="clearfix"></div>
                    </div>
                    
                  </div>
                
                </div>
              
              </div>
              
              <div class="row">
                
                <div class="col-md-4">
                
                  <!-- Report widget -->
                  <div class="widget report-widget">
                    
                    <div class="widget-head br-lblue">
                      <h3><i class="fa fa-bar-chart-o"></i> Report Widget</h3>
                    </div>
                    
                    <div class="widget-body no-padd">
                      <div class="table-responsive">
                        <!-- Table with icon and details -->
                        <table class="table table-bordered">
                          <tr>
                            <!-- Icon -->
                            <td class="text-center"><i class="fa fa-globe"></i></td>
                            <td>Domain</td>
                            <td>sitedomain.com</td>
                            <!-- Sort -->
                            <td class="text-center red"><i class="fa fa-chevron-up"></i></td>
                          </tr> 
                          <tr>
                            <td class="text-center"><i class="fa fa-desktop"></i></td>
                            <td>IP Address</td>
                            <td>192.425.2.4</td>
                            <td class="text-center lblue"><i class="fa fa-chevron-down"></i></td>
                          </tr> 
                          <tr>
                            <td class="text-center"><i class="fa fa-hdd-o"></i></td>
                            <td>Disk Space</td>
                            <td>600GB / 600TB</td>
                            <td class="text-center green"><i class="fa fa-chevron-up"></i></td>
                          </tr> 
                          <tr>
                            <td class="text-center"><i class="fa fa-envelope"></i></td>
                            <td>Email Accounts</td>
                            <td>5 / 20</td>
                            <td class="text-center red"><i class="fa fa-chevron-down"></i></td>
                          </tr>
                          <tr>
                            <td class="text-center"><i class="fa fa-plane"></i></td>
                            <td>Bandwidth</td>
                            <td>1000GB / 200TB</td>
                            <td class="text-center green"><i class="fa fa-chevron-up"></i></td>
                          </tr> 
                          <tr>
                            <td class="text-center"><i class="fa fa-cloud"></i></td>
                            <td>PHP Version</td>
                            <td>5.1.1</td>
                            <td class="text-center lblue"><i class="fa fa-chevron-down"></i></td>
                          </tr> 
                          <tr>
                            <td class="text-center"><i class="fa fa-file"></i></td>
                            <td>Expenses</td>
                            <td>$26,00,000</td>
                            <td class="text-center red"><i class="fa fa-chevron-up"></i></td>
                          </tr>  
                          <tr>
                            <td class="text-center"><i class="fa fa-globe"></i></td>
                            <td>Income</td>
                            <td>$40,00,000</td>
                            <td class="text-center green"><i class="fa fa-chevron-down"></i></td>
                          </tr>                             
                        </table>
                      </div>
                    </div>
                    
                    <div class="widget-foot">
                      <span class="pull-left">Latest Update 24 Mins Ago</span>
                      <a href="#" class="btn btn-xs pull-right btn-info">Refresh</a>
                      <div class="clearfix"></div>
                    </div>
                    
                  </div>
                  
                </div>
                
              </div>
        
      </div>
      <!-- Mainbar ends -->
      
      <div class="clearfix"></div>
    </div>
    
  </body> 
</html>