/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_tree .
 *= require_self
 *= require font-awesome
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
 
@import "bootstrap";
/* Some Style from the Bootstrap Default Theme */

$main-color: #2c3e50;
$sidebar-color: #2c3e50;
$main-head-color: #2c3e50;
body{
  background: $main-color;
  color: white;
}

.mainbar{
  background: $main-head-color;
  min-height: 0;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.col-md-9{
  padding: 0;
  margin: 0;
}

.col-md-3{
  padding: 0;
  margin: 0;
}

a{
  color: #32c8de;
  &:hover{
    color: lighten(#32c8de, 30)
  }
}

form{
  color: white;
}
.outer{
  background-color: $main-head-color;
}

.main-head{
  background-color: $main-head-color;
  border-bottom: 0;
  h4{
    color: white;
  }
}

.sidebar{
  background-color: $sidebar-color;

  .logo{
    border: 0;
  }
}

.sidebar .side-nav {
  h4{
    color: white;
  }
  ul li a{
    color: white;
  }
}

.img-circle {
    width:40px;
    height:40px;
    border-radius:50%;
    border: 2px solid #32c8de;
    display: inline-block;
    background-position-y:25;
}

.link-divider{
  color: white;
}

.custom-popup .leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:16px;
  line-height:24px;
}

.custom-popup .leaflet-popup-content-wrapper p {
  color:rgba(255,255,255,0.5);
}

.custom-popup .leaflet-popup-tip-container {
  width:35px;
  height:15px;
}

.custom-popup .leaflet-popup-tip {
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid #2c3e50;
}