<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
  <p><%=@user.name%> has shared a moment with you!</p>
  <p>Here you go! <%= map_url(@user) %>.</p>
  <p>You can register for your own account at moments_app.com.</p>
  <p>Happy viewing.</p>
</body>
</html>
