<!-- Sidebar starts -->
<div class="sidebar">

  <div class="sidey">

    <!-- Logo -->
    <div class="logo">
      <h1><a href="/"><i class="fa fa-map-marker br-lblue"></i></i> Ayer <span>Map Nostalgia</span></a></h1>
    </div>
    
    <!-- Sidebar navigation starts -->
    
    <!-- Responsive dropdown -->
    <div class="sidebar-dropdown"><a href="#" class="br-blue"><i class="fa fa-bars"></i></a></div>
    
    <div class="side-nav">
    
      <div class="side-nav-block">
        <!-- Sidebar heading -->
        <h4>Menu</h4>
        <!-- Sidebar links -->
        <ul class="list-unstyled">
          <% if user_signed_in? %>
            <%= render partial: "layouts/logged_in_sidebar" %>
          <% else %>
            <%= render partial: "layouts/logged_out_sidebar" %>
          <% end %>
        </ul>
      </div>
    </div>
    <!-- Sidebar navigation ends -->
  </div>
</div>
<!-- Sidebar ends -->